certifi==2019.3.9
chardet==3.0.4
idna==2.8
item==0.0.3
lxml==4.3.3
mock==3.0.5
order==1.0.2
payment==0.0.1.2
pipenv==2018.11.26
pytils==0.3
requests==2.22.0
scinum==1.0.2
selection==0.0.14
six==1.12.0
urllib3==1.25.2
user-agent==0.1.9
virtualenv==16.4.3
virtualenv-clone==0.5.3
weblib==0.1.30
